button {
  background-color: red;
  border: 1px solid red;
  color: #fff;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center;
  align-items: center;
}

button:hover {
  background-color: darkred;
  border: 1px solid darkred;
}
