p {
  font-size: 24px;
  color: aquamarine;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
  border: 5px outset blue;
  padding: 30px;
}

#discovery {
  border: 20px outset red;
  padding: 10px;
}

#images {
  border: 10px outset green;
  padding: 10px;
}

body {
  background-color: #32323c;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: #e6e6e6;
}

h2 {
  font-size: 1.4rem;
  color: #e6e6e6;
}

.chapter-section {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: 80px auto;
}

.chapter-section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #e6e6e6;
  margin-bottom: 5px;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 5px;
}

.chapter-section p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #e6e6e6;
  line-height: 1.6;
}

/* Navigation Styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0px;
  z-index: 1000;
  background-color: rgba(50, 50, 60, 0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
  transition: color 0.3s, border-bottom 0.3s;
  position: relative;
  padding: 0 10px 5px;
}
